* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#root {
    height: 100%;
}

html,
body {
    min-height: 100vh;
    height: 100%;
}

.btn-fav {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 22px;
}